@charset "UTF-8";

body {
	background-image: url(../img/background.png);
}

h1 {
	color: #6e6e6e;
	font-size: 30px;
	font-family: "arial black", "ＭＳ ゴシック", sans-serif;
	text-shadow: 1px 1px 1px #ebecec;
}

ul {
	padding: 20px 16px 25px 10px;
	background-image: url(../img/navbar.png);
	background-repeat: no-repeat;
}

.nav li {
	display: inline;
	list-style-type: none;
	font-size: 14px;
	font-family: arial, "ＭＳ ゴシック", sans-serif;
	padding: 0 16px 0 16px;
}

a:link {
	color: #676767;
	text-decoration: none;
}

a:visited {
	color: #676767;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	text-decoration: none;
}

a:active {
	color: #ffffff;
	text-decoration: none;
}

.nav a:active {
	width: 125%;
	height: 200%;
	background-color: #8f8f8f;
	border-radius: 5px;
}

.header {
	overflow: hidden;
	zoom: 1;
}

.title {
	float: left;
	width: 320px;
	margin-right: 100px;
}

.nav {
	float: left;
	width: 482px;
}

.main {
	overflow: hidden;
	zoom: 1;
}

.left {
	float: left;
	width: 320px;
	margin-right: 120px;
}

.right {
	float: left;
	width: 482px;
	margin-top: 38px;
}

h3 {
	color: #656565;
	font-size: 16px;
	font-family: arial, "ＭＳ ゴシック", sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 160%;
}

.app p {
	color: #737373;
	font-size: 14px;
	font-family: arial, "ＭＳ ゴシック", sans-serif;
	line-height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 130%;
}

.app img {
	margin: 10px 20px 0 0;
}

.appstore {
	padding-top: 10px;
	text-align: right;
}

